# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
.pnpm-debug.log*

# Diagnostic reports
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Coverage
lib-cov
coverage
*.lcov
.nyc_output

# Dependency directories
node_modules/

# TypeScript
*.tsbuildinfo
dist/

# Environment variables
.env
.env.*
!.env.example

# OS files
.DS_Store
Thumbs.db

# Bun
bun.lockb
node_modules